{
  "openapi": "3.0.0",
  "info": {
    "title": "brapi - API do mercado financeiro brasileiro",
    "description": "Tenha acesso instantâneo aos valores da cotação da bolsa de valores, dados históricos e até dados de criptomoedas em diferentes moedas\n\n**https://brapi.dev**",
    "termsOfService": "/terms-of-use",
    "contact": {
      "name": "brapi",
      "url": "https://brapi.dev/",
      "email": "contato@brapi.dev"
    },
    "version": "2.8.0"
  },
  "servers": [
    {
      "url": "https://brapi.dev"
    }
  ],
  "paths": {
    "/api/quote/{tickers}": {
      "get": {
        "tags": ["Ações"],
        "summary": "Cotação de ações",
        "parameters": [
          {
            "name": "tickers",
            "in": "path",
            "description": "Lista de tickers separados por vírgula",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PETR4,^BVSP"
          },
          {
            "name": "range",
            "in": "query",
            "description": "Range de tempo para obter os dados",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "5d",
                "1mo",
                "3mo",
                "6mo",
                "1y",
                "2y",
                "5y",
                "10y",
                "ytd",
                "max"
              ]
            },
            "example": "1d"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intervalo de tempo entre os dados",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "2m",
                "5m",
                "15m",
                "30m",
                "60m",
                "90m",
                "1h",
                "1d",
                "5d",
                "1wk",
                "1mo",
                "3mo"
              ]
            },
            "example": "1d"
          },
          {
            "name": "fundamental",
            "in": "query",
            "description": "Buscar dados fundamentais",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "dividends",
            "in": "query",
            "description": "Buscar dividendos",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "symbol": "COGN3",
                      "shortName": "COGNA ON    ON      NM",
                      "longName": "Cogna Educação S.A.",
                      "currency": "BRL",
                      "regularMarketPrice": 2.71,
                      "regularMarketDayHigh": 2.76,
                      "regularMarketDayLow": 2.67,
                      "regularMarketDayRange": "2.67 - 2.76",
                      "regularMarketChange": -0.029999971,
                      "regularMarketChangePercent": -1.0948894,
                      "regularMarketTime": "2022-05-27T20:07:32.000Z",
                      "marketCap": 5134067712,
                      "regularMarketVolume": 14629600,
                      "regularMarketPreviousClose": 2.74,
                      "regularMarketOpen": 2.74,
                      "averageDailyVolume10Day": 31275150,
                      "averageDailyVolume3Month": 40639808,
                      "fiftyTwoWeekLowChange": 0.73,
                      "fiftyTwoWeekLowChangePercent": 0.36868688,
                      "fiftyTwoWeekRange": "1.98 - 4.9",
                      "fiftyTwoWeekHighChange": -2.19,
                      "fiftyTwoWeekHighChangePercent": -0.44693878,
                      "fiftyTwoWeekLow": 1.98,
                      "fiftyTwoWeekHigh": 4.9,
                      "twoHundredDayAverage": 2.60825,
                      "twoHundredDayAverageChange": 0.101750135,
                      "twoHundredDayAverageChangePercent": 0.039010886
                    },
                    {
                      "symbol": "^BVSP",
                      "shortName": "IBOVESPA",
                      "longName": "IBOVESPA",
                      "currency": "BRL",
                      "regularMarketPrice": 115488.16,
                      "regularMarketDayHigh": 115978.12,
                      "regularMarketDayLow": 114610.22,
                      "regularMarketDayRange": "114610.22 - 115978.12",
                      "regularMarketChange": 878.0547,
                      "regularMarketChangePercent": 0.7661233,
                      "regularMarketTime": "2023-06-07T20:20:00.000Z",
                      "regularMarketVolume": 0,
                      "regularMarketPreviousClose": 114610.1,
                      "regularMarketOpen": 114610.22,
                      "averageDailyVolume10Day": 11244610,
                      "averageDailyVolume3Month": 12033282,
                      "fiftyTwoWeekLowChange": 20221.156,
                      "fiftyTwoWeekLowChangePercent": 0.21225771,
                      "fiftyTwoWeekRange": "95267.0 - 120752.0",
                      "fiftyTwoWeekHighChange": -5263.8438,
                      "fiftyTwoWeekHighChangePercent": -0.04359219,
                      "fiftyTwoWeekLow": 95267,
                      "fiftyTwoWeekHigh": 120752,
                      "twoHundredDayAverage": 109047.15,
                      "twoHundredDayAverageChange": 6441.008,
                      "twoHundredDayAverageChangePercent": 0.059066266
                    }
                  ],
                  "requestedAt": "2022-05-29T03:46:10.808Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/available": {
      "get": {
        "tags": ["Ações"],
        "summary": "Obter uma lista de todos os tickers disponíveis",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Buscar ações por ticker",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "bv"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "indexes": ["^BVSP"],
                  "stocks": ["RBVA11", "RBVO11", "ABBV34"]
                }
              }
            }
          }
        }
      }
    },
    "/api/quote/list": {
      "get": {
        "tags": ["Ações"],
        "summary": "Obter um resumo de todos os tickers",
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "description": "Ordenar os tickers por um tipo",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "close",
                "change",
                "change_abs",
                "volume",
                "market_cap_basic",
                "sector"
              ]
            },
            "example": "close"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Ordenar os tickers em ordem crescente ou decrescente",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"]
            },
            "example": "desc"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limitar a quantidade de tickers",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer"
            },
            "example": "10"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Buscar por um ticker",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "ibo"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "indexes": [
                    {
                      "stock": "^BVSP",
                      "name": "IBOVESPA"
                    }
                  ],
                  "stocks": [
                    {
                      "stock": "IBOB11",
                      "name": "PACTUAL IBOVCI",
                      "close": 93.51,
                      "change": 0.53757444,
                      "volume": 2467,
                      "market_cap": null,
                      "logo": "https://s3-symbol-logo.tradingview.com/pactual-ibovci--big.svg",
                      "sector": null
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/crypto": {
      "get": {
        "tags": ["Crypto"],
        "summary": "Obter informações de qualquer criptomoeda",
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "description": "Adicione uma ou mais criptomoedas separadas por vírgula. Criptomoedas disponíveis em: https://brapi.dev/api/v2/crypto/available",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "BTC,ETH"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Moeda para ser retornada. Moedas disponíveis em: https://economia.awesomeapi.com.br/json/available/uniq",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "BRL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "coins": [
                    {
                      "currency": "BRL",
                      "currencyRateFromUSD": 4.7295,
                      "coinName": "Bitcoin USD",
                      "coin": "BTC",
                      "regularMarketChange": 811.691214975,
                      "regularMarketPrice": 136927.651608,
                      "regularMarketChangePercent": 0.59631646,
                      "regularMarketDayLow": 136434.620151,
                      "regularMarketDayHigh": 137243.6531505,
                      "regularMarketDayRange": "136434.620151 - 137243.6531505",
                      "regularMarketVolume": 84120947094.528,
                      "marketCap": 2608774518177.792,
                      "regularMarketTime": 1653797160,
                      "coinImageUrl": "https://s2.coinmarketcap.com/static/img/coins/64x64/1.png"
                    },
                    {
                      "currency": "BRL",
                      "currencyRateFromUSD": 4.7295,
                      "coinName": "Ethereum USD",
                      "coin": "ETH",
                      "regularMarketChange": 69.3877478175,
                      "regularMarketPrice": 8390.93275845,
                      "regularMarketChangePercent": 0.8338289,
                      "regularMarketDayLow": 8353.4878881,
                      "regularMarketDayHigh": 8479.33373475,
                      "regularMarketDayRange": "8353.4878881 - 8479.33373475",
                      "regularMarketVolume": 56309828364.287994,
                      "marketCap": 1014997849104.3839,
                      "regularMarketTime": 1653797100,
                      "coinImageUrl": "https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/crypto/available": {
      "get": {
        "tags": ["Crypto"],
        "summary": "Obter todas as criptomoedas disponíveis",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Buscar todas as criptomoedas que começam com a consulta, se nenhuma consulta for passada, todas as moedas são retornadas",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "BT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "coins": ["BTC", "BTT1", "BTG", "BTS", "BTM", "BTC2", "BTX"]
                }
              }
            }
          },
          "404": {
            "description": "Moeda não encontrada",
            "content": {
              "application/json": {
                "example": {
                  "message": "Coin not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/currency": {
      "get": {
        "tags": ["Moeda"],
        "summary": "Obter informações de conversão de moeda",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "De uma moeda para outra moeda. Moedas disponíveis em: https://brapi.dev/api/v2/currency/available",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "USD-BRL,EUR-USD"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "currency": [
                    {
                      "fromCurrency": "USD",
                      "toCurrency": "BRL",
                      "name": "Dólar Americano/Real Brasileiro",
                      "high": "4.781",
                      "low": "4.7153",
                      "bidVariation": "-0.0366",
                      "percentageChange": "-0.77",
                      "bidPrice": "4.7295",
                      "askPrice": "4.7326",
                      "updatedAtTimestamp": "1653685163",
                      "updatedAtDate": "2022-05-27 17:59:23"
                    },
                    {
                      "fromCurrency": "EUR",
                      "toCurrency": "USD",
                      "name": "Euro/Dólar Americano",
                      "high": "1.0765",
                      "low": "1.0697",
                      "bidVariation": "0.0011",
                      "percentageChange": "0.1",
                      "bidPrice": "1.0733",
                      "askPrice": "1.0737",
                      "updatedAtTimestamp": "1653685194",
                      "updatedAtDate": "2022-05-27 17:59:54"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inflation": {
      "get": {
        "tags": ["Inflação"],
        "summary": "Obter o histórico da inflação de um determinado país",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Obter dados de um determinado país, padrão para 'brazil'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "brazil"
          },
          {
            "name": "historical",
            "in": "query",
            "description": "Obter dados históricos de um determinado país, padrão para 'false'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Obter dados históricos a partir de uma determinada data, padrão para a data de hoje (DD/MM/YYYY)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "29/10/2022"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Obter dados históricos até uma determinada data, padrão para a data de hoje (DD/MM/YYYY)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "29/10/2022"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Classifique os dados por uma coluna, padrão para 'date'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["date", "value"]
            },
            "example": "date"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Ordem de classificação para sortBy, padrão para 'desc'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"]
            },
            "example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "inflation": [
                    {
                      "date": "01/09/2022",
                      "value": "7.17",
                      "epochDate": 1661990400000
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/inflation/available": {
      "get": {
        "tags": ["Inflação"],
        "summary": "Obter todos os países de inflação suportados disponíveis",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Encontre todos os possíveis países de inflação suportados, se nenhuma consulta for passada, todos os países de inflação suportados serão retornados",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "br"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "countries": ["brazil"]
                }
              }
            }
          },
          "404": {
            "description": "País não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "message": "Country not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/prime-rate": {
      "get": {
        "tags": ["Taxa básica de juros (SELIC)"],
        "summary": "Obter o histórico da taxa básica de juros (SELIC) de um determinado país",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "Obter dados de um determinado país, padrão para 'brazil'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "brazil"
          },
          {
            "name": "historical",
            "in": "query",
            "description": "Obter dados históricos de um determinado país, padrão para 'false'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Obter dados históricos a partir de uma determinada data, padrão para a data de hoje (DD/MM/YYYY)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "29/10/2022"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Obter dados históricos até uma determinada data, padrão para a data de hoje (DD/MM/YYYY)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "29/10/2022"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Ordena os dados por uma coluna, padrão para 'date'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["date", "value"]
            },
            "example": "date"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Ordem de classificação para sortBy, padrão para 'desc'",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": ["desc", "asc"]
            },
            "example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "prime-rate": [
                    {
                      "date": "29/11/2022",
                      "value": "13.75",
                      "epochDate": 1669680000000
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/prime-rate/available": {
      "get": {
        "tags": ["Taxa básica de juros (SELIC)"],
        "summary": "Obter todas as taxas básicas de juros (SELIC) dos países suportados",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Encontre todas as taxas básicas de juros (SELIC) dos países suportados, se nenhuma consulta for passada, todas as taxas básicas de juros (SELIC) dos países suportados serão retornadas",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "br"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "countries": ["brazil"]
                }
              }
            }
          },
          "404": {
            "description": "País não encontrado",
            "content": {
              "application/json": {
                "example": {
                  "message": "Country not found"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/currency/available": {
      "get": {
        "tags": ["Moeda"],
        "summary": "Obter todas as moedas disponíveis",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Encontre todas as possíveis conversões de moeda, se nenhuma consulta for passada, todas as moedas serão retornadas",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            },
            "example": "BRL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "currencies": [
                    {
                      "name": "BRL-EGP",
                      "currency": "Real Brasileiro/Libra Egípcia"
                    },
                    {
                      "name": "BRL-EUR",
                      "currency": "Real Brasileiro/Euro"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Moeda não encontrada",
            "content": {
              "application/json": {
                "example": {
                  "message": "Currency not found"
                }
              }
            }
          }
        }
      }
    },

    "components": {
      "schemas": {},
      "securitySchemes": {
        "noauthAuth": {
          "type": "http",
          "scheme": "noauth"
        }
      }
    }
  }
}
